.facts {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);

  min-height: 506px;
}

.facts__description {
  max-width: 620px;
  width: 100%;
  margin: 40px 50px 45px;

  color: inherit;
  font-family: $font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 42px;
}

.facts__span-accent {
  font-weight: normal;
}
