.facts {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);

  min-height: 506px;
}

@media screen and (max-width: 1199px) {
  .facts {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content;
    min-height: 928px;
  }
}
