.subscribe__button {
  padding: 0;
  background-color: #e1fd2c;
  color: #191d2c;
  text-indent: 0;

  font-family: $font-family;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 1px;
}
