.promo__title {
  margin: 31px 0 53px;
  max-width: 100%;

  color: inherit;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 112%;
  text-align: center;
}
