.gallery {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  border-bottom: 1px solid #e1fd2c;
}

.gallery__container {
  display: flex;
}

.gallery__container:not(:last-child) {
  border-right: 1px solid #e1fd2c;
}
