.gallery {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  // gap: 1px;
  // background-color: #e1fd2c;
}

@media screen and (max-width: 1199px) {
  .gallery {
    grid-template-columns: 1fr;
    min-height: 692px;
  }
}
