.slider-navigation__arrow {
  width: 42px;
  height: 34px;
  background: url('../../../../images/arrow.svg');
  background-size: contain;
  cursor: pointer;
  border: none;
  padding: 0;
  opacity: 1;
}

.slider-navigation__arrow:hover {
  opacity: 0.6;
  transition: 0.5s;
}
