.header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: flex-start;
  min-height: 70px;
}

@media screen and (max-width: 768px) {
  .header {
    grid-auto-flow: row;
    justify-items: end;
  }
}
