.header {
  grid-area: header;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: flex-start;
  min-height: 70px;
}

.header__logo {
  background: url('../../../../images/AUTO-MAGAZINE_logo.svg') no-repeat;
  background-size: contain;
  width: 184px;
  height: 38px;
  justify-self: center;
}
