.burger-menu__close-button {
  background-image: url('../../../../images/close-button.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50%;
  cursor: pointer;
  border: none;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
}
