.promo {
  min-height: 840px;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .promo {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    min-height: 1330px;
  }
}
