.slider-content__quote {
  display: none;
  max-width: calc(100% - 50px * 2);
  width: 100%;
  padding: 0;
  margin: 50px auto;
}

@media screen and (max-width: 1199px) {
  .slider-content__quote {
    margin: 15px;
  }
}
