.press {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  min-height: 500px;
}

.press__title {
  margin: 0;
  color: inherit;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 46px;
}
