.promo__subtitle {
  padding: 0;
  margin: 0 auto;
  max-width: 100%;

  color: inherit;
  font-family: $font-family;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
}
