@import '../vendor/normalize.css';
.page {
  background-color: #191d2c;
  color: #e1fd2c;
}

.header {
  grid-area: header;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-start;
  max-width: 1440px;
  margin: 0 auto;
  height: 70px;
  border-bottom: 1px solid #e1fd2c;
}

.header__logo {
  background: url("../../../../images/AUTO-MAGAZINE_logo.svg") no-repeat;
  background-size: contain;
  width: 184px;
  height: 38px;
  justify-self: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: auto 50px;
}

.navigation__item {
  list-style: none;
  padding: 0 10px 0;
}

.navigation__link {
  color: inherit;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  opacity: 1;
}

.navigation__link:hover {
  opacity: 0.6;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}