.page__section-container {
  display: flex;
  flex-direction: column;
}

.page__section-container:not(:last-child) {
  border-right: 1px solid #e1fd2c;
}

.page__section-container:first-child {
  border-right: 1px solid #e1fd2c;
}
